body {
    
    margin: 0;
 
background-position:center;

background-color: red;


}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

  .presentation-container {
      float: left;
      max-width: 60%;
      
  }

  #soufiane-image-container {
    
    position: fixed;
    top:-4  0px;
    text-align: center;
    width: 300px;
    height: 100vh;
    margin: 0 1rem;

    
    
  }






#pres{
  font-family: 'Syne Mono', monospace;

  font-size: 46px;
  margin-top: 300px;
  color: #FCA311;
  

  }
#namew{
  color: #14213D;
 text-align: center;
 margin-top: 50px;
 font-family: 'Syne Mono', monospace;

 font-weight: bold;


}