.Dev- { 
    margin-top: 70px;
    border-radius: 50%;
    
    
    
  }
  
  h2{ 
     
     
      margin: 8px;
    
  }
  
  .wpoem{  
  margin:30px;
  
  
  
  } 
  .max-width-400 {
    max-width: 400px;
  }